@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Hk Grotesk", sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@layer base {
  :root {
    --white: #fff;
    --darkGreen: #3a5041;
    --brown: #b58269;
    --gray: #878787;
    --blue: #00264b;
    --darkGray: #636a6a;
  }
}
